.landing-title{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 4px solid rgb(255, 124, 22);;
    text-align: center;
}
svg.backHome{color: white;}
svg{color:rgb(255, 124, 22);}
svg.signup{color: white;}
button{background-color: rgb(255, 124, 22);color: white;}